    <div id="top">
      <div class="inside">
        <p>David Fulps &nbsp;&nbsp; Phone: (609) 790 2447 &nbsp;&nbsp; <a href="mailto:david@semper-fit.net">david@semper-fit.net</a></p>
      </div>
    </div>
    <div id="header">
      <div class="inside">
        <a href="/"><img id="logo" src="/assets/img/LOGO.png" alt="Semper Fit: The Trainer You've Been Looking For" /></a>
        <ul id="nav">
          <li id="navAbout"><a href="/about/"><span>About</span></a></li>
          <li id="navClients"><a href="/clients/"><span>Clients</span></a></li>
          <li id="navServices"><a href="/services/"><span>Services</span></a></li>
          <li id="navMedia"><a href="/media/"><span>Media</span></a></li>
          <li id="navContact"><a href="/contact/"><span>Contact</span></a></li>
        </ul>
      </div>
    </div>
